img {
  height: 150px;
}

.green {
  color: #42b883;
}

.teal {
  color: #008080;
}

.lime {
  color: limegreen;
}

.bold {
  font-weight: bold;
}

.even {
  color: #42b883;
}

.odd {
  color: #70a0ae;
}

.line-through {
  text-decoration: line-through;
}

.overline {
  text-decoration: overline;
}

.underline {
  text-decoration: underline;
}
