img {
  height: 150px;
}

.green {
  color: #42b883;
}

.teal {
  color: #008080;
}

.lime {
  color: limegreen;
}

.bold {
  font-weight: bold;
}

.even {
  color: #42b883;
}

.odd {
  color: #70a0ae;
}

.line-through {
  text-decoration: line-through;
}

.overline {
  text-decoration: overline;
}

.underline {
  text-decoration: underline;
}

.img_box {
  margin: 20px auto;
  height: 800px;
  position: relative;
}

.img_box img {
  width: 90%;
  height: 100%;
  object-fit: cover;
}

.button_custom {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
